.git
.gitignore
.gitattributes
.env
.env.*
target
src/test
**/src/test
**/*.log
*.log
*.tmp
*.temp
*.swp
*.swo
.DS_Store
.idea
.vscode
.settings
.classpath
.project
*.iml
*.ipr
*.iws
*.pem
*.key
*.p12
*.pfx
*.jks
*.keystore
README.md
HELP.md
docs
compose.yaml
docker
mvnw.cmd
